[Unit]
Description=Mount sdb

[Mount]
What=/dev/disk/by-uuid/5924df47-43d0-4585-b2ff-d71080afd11e
Where=/home/zhangzhao/Mount
Type=ext4
Options=defaults,rw
TimeoutSec=15

[Install]
WantedBy=local-fs.target
