[Unit]
Description=Mount sdb

[Mount]
What=/dev/disk/by-uuid/1fdabf0e-a671-4473-a714-4f2116178a22
Where=/home/zhangzhao/Mount
Type=ext4
Options=defaults,rw
TimeoutSec=15

[Install]
WantedBy=local-fs.target
