[Unit]
Description=Mount sdb

[Mount]
What=/dev/disk/by-uuid/4c22aaa9-7890-4c89-a3f6-44b2254c01b8
Where=/home/zhangzhao/Mount
Type=xfs
Options=defaults,rw
TimeoutSec=15

[Install]
WantedBy=local-fs.target
