snippet comment1 "/*--short"
/*---------------------
   $1 
 --------------------*/
$0
endsnippet

snippet comment2 "/*----medium"
/*------------------------------------------
   $1 
 -----------------------------------------*/
$0
endsnippet

snippet comment3 "/*------long"
/*---------------------------------------------------------------
   $1 
 --------------------------------------------------------------*/
$0
endsnippet

snippet comment4 "/*--------longer"
/*------------------------------------------------------------------------------------
   $1 
 -----------------------------------------------------------------------------------*/
$0
endsnippet


