snippet functions "function name and description"
/**********************************************************************
*                                 $1
***********************************************************************
*	$2
**********************************************************************/
endsnippet
