[Unit]
Description=Mount WebDAV Service
After=network-online.target
Wants=network-online.target

[Mount]
What=https://ihepbox.ihep.ac.cn/ihepbox/remote.php/dav/files/3f2c3478-3885-1039-8279-f3aa3f45f1a3/
Where=/home/zhangzhao/IHEP
Options=uid=1000,file_mode=0664,dir_mode=2775,grpid
Type=davfs
TimeoutSec=15

[Install]
WantedBy=multi-user.target
