[Unit]
Description=Mount Sshfs for OrangePi
Requires=network.target ssh.service
After=network.target ssh.service

[Service]
Type=forking
User=zhangzhao
ExecStart=/usr/bin/sshfs root@192.168.206.202:/ /home/zhangzhao/OrangePi -p 9090 -o reconnect -o cache=yes
ExecReload=/usr/bin/sshfs root@192.168.206.202:/ /home/zhangzhao/OrangePi -p 9090 -o reconnect -o cache=yes
ExecStop=/usr/bin/umount /home/zhangzhao/OrangePi

[Install]
WantedBy=multi-user.target
